
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  border: 1px solid black;
  border-radius: 12px;
  gap: 20px;
  padding: 20px;
}

.dice {
  aspect-ratio: 1 / 1;
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
}

.center {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: orangeRed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: orangeRed;
  top: 10%;
  left: 10%;
}

.top-right {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: orangeRed;
  top: 10%;
  right: 10%;
}

.mid-left {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: orangeRed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.mid-right {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: orangeRed;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.bottom-left {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: orangeRed;
  bottom: 10%;
  left: 10%;
}

.bottom-right{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: orangeRed;
  bottom: 10%;
  right: 10%;
}
